$primary-color:#97BEDF;
$primary-color-light:#D4EAF5;
$primary-color-light-light:#e2f0f7;
$primary-color-blod:#7f8dff;
$secundary-color:#D4A1F2;
$white-color:#FFFFFF;
$black-color:#656565;
$gold-color:#E1CD7D;